/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.image {
    overflow: hidden;
    text-align: center;
    background-color: white;
    border: 2px solid #d9d9d9;
}

.round-image-50 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
}

.round-image-300 {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 150px;
    height: 200px;
    width: 200px;
}

img {
    width: 100%
}

.stronger {
    font-weight: bold
}

html {
    padding: 20px 20px 20px 20px;
}